<div class="container">
  <div class="main">
    <div>
      <h2>問題作成画面</h2>
    </div>
    <%= form_with model: @quiz, local: true do |f| %>
    <div>
      <%= f.label :question, "問題" %>
    </div>
    <div>  
      <%= f.text_field :question %>
    </div>
    <div>
      <%= f.label :answer, "答え" %>
    </div>
    <div>  
      <%= f.text_field :answer %>
    </div>
    <div>
      <%= f.label :difficulty, "難易度" %>
    </div>
    <div>
      <%= f.select :difficulty, Quiz.difficulties.keys %>
    </div>
    <div>
      <%= f.submit "保存" %>
    </div>
    <% end %>
  </div>
</div>
