<div class="container">
  <div class="main">
    <div>
      <h2>問題作成画面</h2>
    </div>
    <%= form_with model: @quiz, local: true do |f| %>
    <div>
      <%= f.label :answer, "答え" %>
    </div>
    <div>  
      <%= f.text_field :answer %>
    </div>

    <div>
      <%= f.label :reverse_voice, "逆再生音声ファイル" %>
    </div>  
    <div>  
      <%= f.file_field :reverse_voice %>
    </div>
    
    <div>
      <%= f.submit "保存" %>
    </div>
    <% end %>
  </div>
</div>