<div class="quiz-show-container">
  <div class="container">
    <div class="main">
      <div>
        <h2><%= "#{@quiz.difficulty_i18n}" %></h2><br>
      </div>
      <div class="reverse-message-area">
        <%= "#{@quiz.question}" %>
      </div>
      <div>
        <%= render partial: 'shared/recording' %>
      </div>
      <div>
        <input id="copyTarget" type="hidden" value="<%= "#{@quiz.answer}" %>" readonly>
        <button onclick="copyToClipboard()" class="answer-btn">答え</button>
      </div>
      <div class="quizzes-link-area">
        <%= link_to "問題一覧", quizzes_path, class: "quizzes-link-btn" %>
      </div>
    </div>
  </div>
</div>
<script>
  function copyToClipboard() {
    let copyTarget = document.getElementById("copyTarget");
    copyTarget.select();
    document.execCommand("Copy");
    alert("答え : " + copyTarget.value);
  }
</script>
<%= javascript_pack_tag 'recording' %>
