<div class="quiz-show-container">
  <div class="container">
    <div class="main">
      <div>
        <h2><%= "#{@quiz.difficulty}" %></h2>
      </div>
      <div class="reverse-message-area">
        <%= "#{@quiz.question}" %>
      </div>
      <div>
        <%= render partial: 'shared/recording' %>
        <button id="answer_btn" class="answer-btn">答え</button>
        <p id="answer" style="visibility: hidden;"><br><%= "#{@quiz.answer}" %></p>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'recording' %>
