<%# <%= javascript_pack_tag 'hello_vue.js' %>
<%# <div id='vue-app'></div> %>
<div class="container">
  <div class="main">
    <%= image_tag "top_fukidasi.png", class: "top-fukidasi" %>
    <div>
      <%= link_to "遊び方" , guide_path, class: "top-link" %>
    </div>
    <div>
      <%= link_to "メッセージを送る" , new_message_path, class: "top-link" %>
    </div>
    <div>
      <%= link_to "1人で遊ぶ" , quizzes_path, class: "top-link" %>
    </div>
  </div>
</div>