<div class="container">
  <div class="main">
    <p>逆再生化したいメッセージを入力しよう！</p>
    <p>例：「ありがとう」は「うおつあぎら」になるよ！</p>
    <%= form_with model: @message, local: true do |f| %>
      <%= f.hidden_field :uuid %>
      <%= f.text_area :message, maxlength: "30", id: "text-area" %><br>
      <p class="text-counter">あと<span id="text-lest">30</span>文字入力できるよ！</p>
      <%= f.submit "保存して共有ページへ", class: "bg-warning text-white text" %>
    <% end %>
    <p>※変換できたら共有ページに移動するよ！</p>
  </div>
</div>
<%= javascript_pack_tag 'counter' %>