<div class="container">
  <div class="main">
    <% if alert %>
      <div class="alert"><%= alert %></div>
    <% end %>
    <div class="message fukidasi">
      <div class="text-block">
        <h2 >メッセージを送る</h2>
        <p>逆再生化したいメッセージを入力しよう！</p>
        <p>「よろしく」は「うきひそろゆ」になるよ！</p>
        <p>※ひらがなで入力してね！</p>
      </div>
      <%= form_with model: @message, local: true do |f| %>
        <%= f.hidden_field :uuid %>
        <%= f.text_area :message, maxlength: "30", id: "text-area", maxlength: "30" %><br>
        <p class="text-counter">あと<span id="text-lest">30</span>文字入力できるよ！</p>
        <%= f.submit "保存して共有ページへ", class: "bg-warning text-white text" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'counter' %>