<header class="sticky-top">
  <div class="header-area">
    <%= link_to image_tag("title.png", class: "img-title"), root_path %>
    <div class="open-btn"><span></span><span></span><span></span></div>
    <nav id="g-nav">
      <div id="g-nav-list">
        <ul>
          <li>
            <%= link_to "遊び方", guide_path %>
          </li>
          <li >
            <%= link_to "メッセージを送る", new_message_path %>
          </li>
          <li>
            <%= link_to "1人で遊ぶ", quizzes_path %>
          </li>
          <li>
            <%= link_to "メッセージサンプル", message_sample_path %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<%= javascript_pack_tag 'nav' %>