<div class="container">
  <div class="main">
    <%= form_with url: login_path, local: true do |f| %>
    <div>
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div>
      <%= f.text_field :email  %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
    </div>  
    <div>  
      <%= f.password_field :password  %>
    </div>
    <div style="margin-top: 5px;">
      <%= f.submit "ログイン" %>
    </div>
    <% end %>
    <div style="margin-top: 5px;">
      <%= link_to("ログアウト", "/logout", {method: "post"}) %>
    </div>
  </div>
</div>
